.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 100px;
    
}
.heading{
    margin-top: 80px;
}
.heading-text{
    font-size: 2rem;
    font-weight: 800;
    color: #6499E7;
}
.logo-img{
    width: 50px;
}
.learning-text{
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(41, 40, 40);
}
.right-side{
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}